ErrorDocument 404 /fzs7217/230/portfolio/error.html 
DirectoryIndex index.html

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 2 minutes"
</IfModule>
Header set Cache-Control no-cache